@medi-font-black: #333;
@medi-white: #fff;
@medi-blue-light: #d7f1ff;
@medi-link-blue: #008cd7;

@medi-grey: #eceff3;
@medi-grey-darker: #e0e0de;
@medi-grey-dark: #cdcdca;

body,
.il-layout-page {
  background-color: transparent;
}
#ilTab {
  border-bottom: 2px solid @medi-grey-darker;
}
.btn {
  color: @medi-white;
}
.nav-tabs > li > a,
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: transparent;
  color: @medi-link-blue;
  margin-bottom: -4px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border-bottom: 4px solid @medi-link-blue;
}
.nav-tabs > li:hover, .nav-tabs > li:focus {
  background-color: @medi-grey-darker;
}
#ilSubTab > li.active > a {
  color: @medi-font-black !important;
}
#ilSubTab > li > a:focus,
#ilSubTab > li > a:hover {
  background-color: transparent;
  color: @medi-font-black !important;
}
a,
.jstree.jstree-default a,
.breadcrumb_wrapper .breadcrumb span.crumb a
{
  color: @medi-link-blue !important;
}

a:focus,
a:hover,
.jstree.jstree-default a:focus,
.jstree.jstree-default a:hover,
.breadcrumb_wrapper .breadcrumb span.crumb a:hover,
.breadcrumb_wrapper .breadcrumb span.crumb a:focus {
  color: @medi-font-black !important;
}

.header-inner {
  background-color: transparent;
}

h1, h2.medi-system-label, a#il_mhead_t_focus {
  color: @medi-font-black !important;
}

.il-panel-listing-std-container,
header,
.ilContainerBlockHeader,
.panel .panel-heading.ilHeader {
  background-color: @medi-grey;
  color: @medi-font-black;
}
.il-mainbar,
.il-mainbar-triggers .btn-bulky, .il-mainbar-triggers .il-link.link-bulky,
.il-maincontrols-slate .btn-bulky:hover, .il-maincontrols-slate .link-bulky:hover, .il-maincontrols-slate .btn-bulky.engaged, .il-maincontrols-slate .link-bulky.engaged
{
  background-color: @medi-grey-darker;
  color: @medi-font-black;
}

.il-mainbar-triggers .btn-bulky .bulky-label, .il-mainbar-triggers .il-link.link-bulky .bulky-label,
.il-mainbar-tools-button .btn-bulky, .il-mainbar-tools-button .btn-bulky.engaged {
  color: @medi-font-black;
}
.il-mainbar-triggers .btn-bulky, .il-mainbar-triggers .il-link.link-bulky,
.il-mainbar-tools-button {
  border-bottom: 3.2px solid #fff;
}
.ilObjListRow:hover {
  background-color: @medi-grey;
}
.il-mainbar-tools-button .btn-bulky.engaged,
.il-mainbar-triggers .btn-bulky.engaged {
  background-color: @medi-grey-dark !important;
}
.il-maincontrols-slate .btn-bulky .icon, .il-maincontrols-slate .link-bulky .icon,
.il-mainbar-triggers .il-link.link-bulky .icon,
.il-mainbar-triggers .btn-bulky .icon {
  filter: none;
}

.il-standard-form .il-section-input-header {
  background-color: transparent;
}
.btn-default:hover {
  border-color: transparent;
}
.btn-link,
.btn-primary,
.btn-default {
  color: #FFFFFF !important;
  background-color: @medi-link-blue;
  outline-color: initial !important;
  border-color: transparent;
  text-decoration: none;
}
.btn-link:hover,
.btn-link:focus,
.btn-primary:hover,
.btn-default:hover,
.btn-primary:focus,
.btn-default:focus {
  color: #fff  !important;
  background-color: @medi-font-black;
  text-decoration: none  !important;
}
footer {
  background-color: transparent;
}
.ilObjListRow {
  border-bottom: 3px solid @medi-grey-darker
}

.nav-tabs > li > a {
  color: @medi-font-black !important;
}
