@medi-black-background: #222;
@medi-blue: #d7f1ff;
@medi-link-blue: #008cd7;
@medi-link-footer: #747474;
@medi-column-background: #f2f2f2;
@medi-background: #eceff3;
@medi-darker-background: #e0e0de;
@medi-dark-background: #cdcdca;

@medi_grey_1: #f0f0f0;
@medi_grey_2: rgb(186,186,177);
@medi_grey_3: #2f2f2f;



@medi_yellow_1: #F7FAEF;
@medi_yellow_2: #E8F1CE;
@medi_green_1: #8CB80D;
@medi_green_2: #73A000;
@medi_blue_1: rgb(186,186,177);;
@medi_blue_2: rgb(186,186,177);;
@medi_blue_3: rgb(186,186,177);;
@medi_red_1: #FFE1E1;
@medi_red_2: #FF194B;

@black: #000000;
@white: #FFFFFF;

@custom_application_bg: @medi_grey_1;
@custom_widget_bg: @white;

@custom_font_color_alert_danger: @medi_red_2;
@custom_message_alert_danger_bg_color: @medi_red_1;
@custom_message_alert_danger_border_color: @medi_red_2;
@custom_message_alert_danger_font_color: @custom_font_color_alert_danger;

@custom_message_alert_success_bg_color: @medi_yellow_2;
@custom_message_alert_success_border_color: @medi_green_1;
@custom_message_alert_success_font_color: @medi_blue_3;

@custom_message_alert_info_bg_color: @medi_blue_1;
@custom_message_alert_info_border_color: @medi_blue_3;
@custom_message_alert_info_font_color: @white;

@custom_message_alert-warning_bg_color:  @medi_yellow_2;
@custom_message_alert-warning_border_color:  @medi_green_1;
@custom_message_alert-warning_font_color:  @medi_blue_3;


.header-inner {
  padding: 0 25px;
  background-color: @medi-background;
}

//Desktop headers favorites my coures and groups
#block_pditems_0 > div > h2 {
  color: @medi-link-blue;
}
#block_pdmem_0 > div > h2 {
  color: @medi-link-blue;
}



.il-panel-listing-std-container,
.panel .panel-body,
.panel .panel-heading.ilHeader {
  background-color: @medi-column-background !important;
}
.il-maincontrols-slate .btn-bulky:hover, .il-maincontrols-slate .link-bulky:hover, .il-maincontrols-slate .btn-bulky.engaged, .il-maincontrols-slate .link-bulky.engaged {
  background-color: @medi-darker-background;
}


.il-item {
  background-color: @medi-column-background !important;
  border-bottom: 2px #fff solid;

}

.panel {
  margin-bottom: 0px;
  border-bottom: 2px solid @medi-darker-background;
}

div.il_HeaderInner.media {
  //background: @medi-column-background;
}

.il-maincontrols-slate .btn-bulky .icon, .il-maincontrols-slate .link-bulky .icon {
  filter: none;
}
div.il_HeaderInner {
 margin-left: 15px;
 margin-right: 15px;
}
.il-item-group {
  clear: both;
  background-color: @medi-darker-background;
}
.il_VAccordionHead, .il_HAccordionHead,
.il_HAccordionHeadActive, .il_VAccordionHeadActive {
  background-color:@medi-darker-background !important;
  color: #333;
}
.ilContainerBlockHeader {
  background-color: @medi-darker-background !important;
}
.il-panel-listing-std-container {
  background-color: #fff;
}

.il_HAccordionHead:hover, .il_VAccordionHead:hover {
  background-color: #2f2f2f;
  color: #fff;
}


body {
  font-size: 14px !important;
  color: #333 !important;
}
.breadcrumb_wrapper .breadcrumb {
  font-weight: normal;
}
#ilTab {
  padding: 0;
  margin: 7px 15px 23px;
  border: 0 none;
  border-bottom: 2px solid #008cd7;
}

.btn-default {
  color: #FFFFFF;
  background-color: #008cd7;
  outline-color: initial !important;
  border-color: transparent;
}

.btn-default:hover {
  background-color: #2f2f2f;
}

footer {
  background-color: #fff !important;
}
footer.ilFooter {
  background-color: #fff !important;
}
.il-maincontrols-footer,
.il-maincontrols-footer .il-footer-links li a, .il-maincontrols-footer .il-footer-links li button {
  color: #333 !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #fff;
}

.nav-tabs > li.active > a {
  color:#4c6586 !important;
}

a,p {
  font-family: Univers47,Arial,sans-serif  !important;
}

a#il_mhead_t_focus {
  color: #333;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.l-rte__intro p {
  color: #333;
  line-height: 1.3;
  margin-bottom: 20px;
}

p {
  line-height: 1.3;
  margin-bottom: 20px  !important;
}
h5, h6, p {
  font-size: 1em;
}

h1 {
  color: #333;
  font-family: Univers47,Arial,sans-serif  !important;
  font-size: 2rem;
  letter-spacing: .5px;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: uppercase;
}

body {
  color: #333;
}

footer {
  //background-color: @medi-black-background !important;
}


h1, h2 {
  height: 1.6em;
  font-weight: 400;
  line-height: 1.1;
}

.il-mainbar {
  background-color: @medi-darker-background !important;
}
.il-mainbar-triggers .btn-bulky, .il-mainbar-triggers .il-link.link-bulky {
  background-color: @medi-darker-background !important;
  border-bottom: 2px solid #fff;

}
.il-mainbar-triggers .btn-bulky .bulky-label,
.il-mainbar-triggers .il-link.link-bulky .bulky-label {
  color: #2c2c2c !important;
}
.il-mainbar-triggers .btn-bulky:hover, .il-mainbar-triggers .il-link.link-bulky:hover {
  //background-color: @medi-blue !important;
}
.il-mainbar-triggers .il-link.link-bulky .icon,
.il-mainbar-triggers .btn-bulky .icon {
  filter: none !important;
}
.il-mainbar-triggers .btn-bulky.engaged {
  background-color: @medi-dark-background !important;
}

//links
a {
  color: @medi-link-blue;
}
.breadcrumb_wrapper .breadcrumb span.crumb a {
  color: @medi-link-blue !important;
}
#ilSubTab > li.active > a {
  color: @medi-link-blue !important;
}

body > div.il-layout-page.with-mainbar-slates-engaged > main > footer > div > div > div.il-footer-links {
  a {
    color: @medi-link-footer !important;
  }
}
div.ilFrame {
  background-color: #fff !important;
}
.il-layout-page {
  background-color: #fff !important;
}


.btn-default {
  //color: #fff !important;
}


//
.il-multi-line-cap-3:after {
  background: none;
}
.il-item .il-item-divider {
  border-bottom: none;
}
.il-item .il-item-divider {
  padding: 0px;
}


//login screen

.main_flexed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.flexitem_c1 {
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: center;
  position: relative;
}
.flexitem_c1 img.flexitem_c1_bg {
  position: fixed;
  left: 150px;
  top: 150px;
  max-height: 500px;
}
.flexitem_c1 img.flexitem_c1_logo {
  position: absolute;
  top: 150px;
  right: 10%;
  width: 410px;
}
.flexitem_c2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 50%;
  margin-right: 50%;
}




.medi-login-container {

  .ilFormFooter .ilFormCmds {
    padding-top: 20px;
  }

  .form-control {
    font-size: 30px;
  }

  .btn-default {
    font-size: 30px;
  }

    span.reg-links {
    margin-right: 80px;
    float: right;
    width: 250px;
    margin-top: -0px;
      font-size: 30px;
    a {
      color: @medi-link-blue;
      text-decoration: underline;
    }
  }

  margin-top: 400px;
  width: 800px;
  height: 650px;

  background-color: #fff;
  position: relative;

  input:invalid {
    border-color: @custom_message_alert_danger_border_color;
  }

  .form-horizontal .help-block {
    padding: 4px;
  }

  .form-horizontal label {
    color: #333 !important;
    font-size: 30px;
  }

  .ilFormRequired, .asterisk{
    display: none;
  }

  .ilFormHeader {
    padding-bottom: 30px;
  }

  .alert-danger:first-child {
    margin-bottom: 5px;
  }

  #il_prop_cont_username {
    label {
      width: 100%;
      text-align: left;
    }
  }

  #il_prop_cont_password {
    label
    {
      width: 100%;
      text-align: left;
    }
  }

  #il_prop_cont_password > div > br {
    display: none;
  }


  div.ilStartupSection form.form-horizontal {
    background-color: #fff !important;
    padding: 30px;
  }

  @media only screen and (min-width: 768px) {
    .col-sm-6 {
      width: 100%;
    }
  }

  @media only screen and (max-width: @grid-float-breakpoint-max) {
    max-width: 100%;
    width: 100%;
    margin-top: 0px;
    border: none;
  }

  div.form-horizontal {

    .col-sm-3 {
      text-align: left;
      width: 100%;
      padding-left: 5px;
    }
    .col-sm-9 {
      width: 100%;
      padding-left: 5px;
    }
  }

  ////
  //Registration
  #il_prop_cont_username label {
    width: 80%;

  }

  .ilFormFooter,
  .ilFormHeader {
    background-color: #fff;
  }

  div.ilStartupSection {
    .ilHeader {
      display: none;
    }


    .ilFormHeader h3 {
      color: #fff;
      /*font-size: @font-size-h1;*/
      font-weight: normal;
      border-bottom: 1px solid #fff;
      padding-bottom: 5px;
      padding-top: 0px;
      text-transform: uppercase;
    }

    form.form-horizontal {
      width: 100%;
    }

    form label.control-label {
      text-align: left;
      width: 100%;
      text-transform: uppercase;
      min-height: 0;
    }

    form input.form-control {
      width: 100% !important;
    }
  }

  .ilStartupSection {
    padding-top: 0px;
  }

  //Form Content
  input:invalid {
    background-color: @custom_widget_bg;
  }


  ///////////////////////////////////
  //Form
  .ilFormHeader {

    h3 {
      background-color: @custom_application_bg;
      color: #333 !important;
      display: block;
      width: 100%;
      padding-top: 30px;
    }
    h3 {
      background-color: transparent;
      color: #333 !important;
      border: none;
    }

    //margin-bottom: 30px;
  }
  .form-horizontal label {
    color: #333 !important;
    padding-bottom: 20px;

  }
  .ilFormFooter {
    padding-bottom: 10px;
  }


  .form-horizontal {
    background-color:  #fff !important;
  }


  [type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea, [type=radio] {
    height: auto;
    padding: 8px 8px;
  }
  .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {

    margin-top: 5px;
  }
  .form-horizontal .control-label {
    //padding-top: 20px;
  }

  .form-horizontal .checkbox,
  .form-horizontal .input-group,
  .form-horizontal .radio:first-child {
    height: auto;
    padding-left: 2px;
    padding-right: 8px;
    padding-top: 2px;
  }

  .form-horizontal .radio {
    padding-left: 2px;
    padding-right: 8px;
  }

  .ilFormHeader .ilFormCmds {
    margin-top: -30px;
  }


  .form-control, .form-control:focus, input:invalid {
    border-color: @medi_grey_2;
    background-color: @medi_grey_1;
  }

  .ilFormFooter {
    display: inline-flex;
  }

  .ilFormCmds {
    /*margin-top: -25px;*/

    .btn {
      margin-left:5px;
      text-transform: uppercase;
    }
  }

  .form-horizontal {
    margin-bottom: 0;
  }

  .form-horizontal + p {
    display: none;
  }

  .form-horizontal + p + .ilStartupSection {
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-top: -30px;
    align-items: flex-end;
    //padding-right: 15px;
    margin-bottom: 18px;

    a {
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width: 850px) {
  .flexitem_c1 {
    display: none;
  }
  .medi-login-container {
    margin-left: 0px;
    margin-right: 0px;
  }
  .col-sm-6 {
    width: 100%;
  }
}


