/** fonts */
@medi-font-black: #333;

html,
body {
  color: @medi-font-black;
  font-size: clamp(1rem, 1vw, 1.6rem);
  font-family: Univers47, Arial, sans-serif;
}

@media only screen and (min-width: 2000px) {
  html,
  body {
    //font-size: 18px;
  }
}





.form-control {
  min-height: 40px;
}

.breadcrumb_wrapper .breadcrumb > span + span:before {
  font-size: 0.8rem;
}

.breadcrumb_wrapper .breadcrumb,
.panel .panel-heading.ilHeader h2, .panel .panel-heading.ilBlockHeader h2, .panel .panel-heading.ilHeader h2.ilHeader, .panel .panel-heading.ilBlockHeader h2.ilHeader,
div.ilHeaderDesc,
div.ilHeaderAlert,
.panel-secondary,
.il-item,
.il-item-description,
div.ilTableNav,
.small,
table,
.xsmall,
table.calmini th.calmini,
table.calmini th.calminiweek,
td.calministd,
.il-item-group > h3,
.il-panel-listing-std-container > h2,
.panel .panel-heading.ilHeader h4,
.panel .panel-heading.ilBlockHeader h4,
.panel .panel-heading.ilHeader h4.ilBlockHeader,
.panel .panel-heading.ilBlockHeader h4.ilBlockHeader,
h5,
h6,
p,
button.copg-add.dropdown-toggle.btn .glyphicon-plus-sign,
button.copg-add.dropdown-toggle.btn:focus .glyphicon-plus-sign,
button.copg-add.dropdown-toggle.btn:hover .glyphicon-plus-sign,
#copg-editor-help .glyphicon-plus-sign,
button.copg-add.dropdown-toggle.btn .il-copg-add-text,
button.copg-add.dropdown-toggle.btn:focus .il-copg-add-text,
button.copg-add.dropdown-toggle.btn:hover .il-copg-add-text,
#copg-editor-help .il-copg-add-text,
.il-item .il-item-description,
.panel-secondary .il-item .il-item-description,
div.il_Description, td.il_Description,
div.il_ItemProperties,
ul.dropdown-menu > li > .btn,
div.ilHeaderAlert,
div.alert ul,
.il-item .il-item-title,
.jstree-default .jstree-node,
table,
.il-pagetitle,
.panel .panel-heading.ilHeader h4, .panel .panel-heading.ilBlockHeader h4, .panel .panel-heading.ilHeader h4.ilBlockHeader, .panel .panel-heading.ilBlockHeader h4.ilBlockHeader,
.il-maincontrols-slate-content .il-maincontrols-slate .disengaged .bulky-label,
.il_InfoScreenPropertyValue,
.il_InfoScreenProperty,
span.reg-links,
.form-horizontal label,
.form-horizontal .control-label,
.il-item .il-item-title .btn-link,
.il-item .il-item-title,
.nav-tabs > li > a,
h2.ilHeader,
.il-standard-form .il-section-input-header h2
{
  font-style: normal;
  color: @medi-font-black;
  font-size: 1.2rem;
  //line-height: 1.6;
  text-decoration: none;
}

#il_table_top {
  font-style: normal;
  color: @medi-font-black !important;
  font-size: 1.2rem;
  //line-height: 1.6;
  text-decoration: none;
}

h2.ilHeader,
h3.il_ContainerItemTitle {
  font-style: normal;
  color: @medi-font-black;
  font-size: 1.4rem;
  //line-height: 1.6;
  text-decoration: none;
}

h1,
h2.medi-system-label,
a#il_mhead_t_focus {
  font-style: normal;
  color: @medi-font-black;
  font-size: 2.56rem;
  line-height: 1.6;
  text-transform: uppercase;
}

.il-maincontrols-slate .btn-bulky.engaged::before,
.il-maincontrols-slate .link-bulky.engaged::before,
.il-maincontrols-slate .btn-bulky.disengaged::before,
.il-maincontrols-slate .link-bulky.disengaged::before,
.btn-default,
.btn,
.il-maincontrols-slate-content > .bulky-label,
.il-maincontrols-slate .btn-bulky .bulky-label,
.il-maincontrols-slate .link-bulky .bulky-label,
.il-maincontrols-mainbar .btn-bulky,
.il-maincontrols-metabar .btn-bulky,
.il-maincontrols-mainbar .il-link.link-bulky,
.il-maincontrols-metabar .il-link.link-bulky,
.il-item .il-item-property-name,
.il-item .il-item-property-value,
.il-maincontrols-footer,
.help-block,
.maincontrols-slate-content .il-maincontrols-slate-content .bulky-label,
.jstree.jstree-default a,
#search_link,
label, input[type=checkbox], input[type=radio], select,
#ilSubTab > li > a,
#ilSubTab > li.active > a,
#ilSubTab > li.active > a:hover,
#ilSubTab > li.active > a:focus,
.form-control,
.ilTableFootLight,
th,
td,
#block_pdmail_0 .il-item-description
{
  font-style: normal;
  color: @medi-font-black;
  font-size: 0.8rem !important;
  text-decoration: none;
}