/* spacing */
@medi-vh-padding-small: 0.9vh;

@medi-vh-space-large: 9.4vh;
@medi-vh-space-middle: 5.9vh;
@medi-vh-space-small: 4.2vh;

@medi-vw-padding-small: 0.9vw;

@medi-vw-space-large: 24vw;
@medi-vw-space-middle: 5.9vw;
@medi-vw-space-small: 3.7vw;

@medi-icon-small: @medi-vh-space-middle;


.il-layout-page {
  -ms-grid-rows: @medi-vh-space-middle auto @medi-vh-space-small 1fr;
  grid-template-rows: @medi-vh-space-middle auto @medi-vh-space-small 1fr;
  -ms-grid-columns: @medi-vw-space-middle 1fr;
  grid-template-columns: @medi-vw-space-middle 1fr;
}

.header-inner {
  height: @medi-vh-space-middle;
}

.il-logo {
  height: calc(@medi-icon-small - (2*@medi-vh-padding-small));
}
header {
  min-height: @medi-vh-space-middle;

}
header img {
  padding-top: @medi-vh-padding-small;
  padding-bottom: @medi-vh-padding-small;
  height: @medi-vh-space-middle;
  padding-left: @medi-vw-padding-small;
}

.il-maincontrols-mainbar {
  -ms-grid-columns: @medi-vw-space-middle @medi-vw-space-large;
  grid-template-columns: @medi-vw-space-middle @medi-vw-space-large;

  .icon.small {
    height: @medi-icon-small;
    width: @medi-icon-small;
    line-height: @medi-icon-small;
  }

  .panel-secondary {
    .icon.small {
      height: calc(@medi-icon-small/2);
      width: calc(@medi-icon-small/2);
      line-height:  calc(@medi-icon-small/2);
    }
  }
}
div[class^="il_editarea"] .ilContainerListItemOuter img {
  padding-top: @medi-vh-padding-small;
  width: calc(5.9vh - 0.9vh - 0.9vh);
  height: calc(5.9vh - 0.9vh - 0.9vh);
  filter: sepia(0.3);
  max-width: calc(5.9vh - 0.9vh - 0.9vh);
}
.il-mainbar-triggers {
  width: @medi-vw-space-middle;
}
.il-mainbar-triggers .btn-bulky, .il-mainbar-triggers .il-link.link-bulky, .mainbar-triggers .btn-bulky {
  min-height: @medi-vw-space-middle;
  flex-flow: column;
}

.il-maincontrols-slate .btn-bulky,
.il-maincontrols-slate .link-bulky,
.il-maincontrols-slate .btn-bulky:focus,
.il-maincontrols-slate .link-bulky:focus,
.il-maincontrols-slate .btn-bulky:hover,
.il-maincontrols-slate .link-bulky:hover {
    padding-left: @medi-vw-padding-small !important;
}



.il-maincontrols-slate-content{
  .il-maincontrols-slate .link-bulky {
    padding-left: @medi-vw-padding-small;
  }

  .il-maincontrols-slate .disengaged,
  .il-maincontrols-slate-content {
    .icon.small {
      height: calc(@medi-icon-small/2);
      width: calc(@medi-icon-small/2);
      line-height:  calc(@medi-icon-small/2);
    }
  }
}



// navigation arrow icon

.il-maincontrols-slate-content .jstree-default li.jstree-node {
  margin-left:  @medi-vh-padding-small
}

.il-maincontrols-slate .btn-bulky .icon.small, .il-maincontrols-slate .link-bulky .icon.small {
  min-width: @medi-vw-space-small;
}

.il-mainbar-slates {
  width: @medi-vw-space-large;
}
.il-layout-page.with-mainbar-slates-engaged {
  -ms-grid-columns: calc(@medi-vw-space-middle + @medi-vw-space-large) 1fr;
  grid-template-columns: calc(@medi-vw-space-middle + @medi-vw-space-large) 1fr;
}
#mainspacekeeper {
  padding-top: @medi-vh-space-middle;
  padding-left: @medi-vw-space-middle;
  padding-right: @medi-vw-space-middle;
}
#il_center_col {
  padding-top: @medi-vh-space-small;
}
#il_right_col {
  padding-top: @medi-vh-space-small;
  padding-left: @medi-vw-space-small;
}

#headerimage {
  display: none;
}
div.ilContainerListItemContent,
div.ilContainerListItemIcon {
  padding-top:  @medi-vh-padding-small;
}
.breadcrumb_wrapper .breadcrumb span.crumb a:focus {
  border: none;
}
.breadcrumb_wrapper .breadcrumb {
  padding-top: @medi-vh-padding-small;
  padding-left: calc(@medi-vw-space-middle + @medi-vw-padding-small);
}

#ilTab {
  margin-top: calc(3 *@medi-vh-padding-small);
}


#ilSubTab > li {
  padding-top: @medi-vh-padding-small;
  padding-left:  @medi-vw-padding-small;
  padding-right:  @medi-vw-padding-small;
}
.nav-tabs > li > a  {
  padding-left:  @medi-vw-padding-small;
  padding-right:  @medi-vw-padding-small;
}


.il-maincontrols-slate .btn-bulky.engaged::before, .il-maincontrols-slate .link-bulky.engaged::before,
.il-maincontrols-slate .btn-bulky.disengaged::before, .il-maincontrols-slate .link-bulky.disengaged::before {
  line-height: @medi-vh-space-small;
  width: @medi-vw-padding-small;
  padding-right: @medi-vw-padding-small;
}
#il_expl2_jstree_cont_out_rep_exp {
  padding-top: @medi-vh-padding-small;
  padding-bottom: @medi-vh-padding-small;
  padding-left:  calc(2*@medi-vw-padding-small);
}
.il-maincontrols-slate-content {
  .panel-body {
    padding-left: @medi-vw-padding-small;
  }
}

.ilToolbarContainer {
  //margin-top: @medi-vh-space-small;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn,
.btn:hover {
  padding-left:  calc(@medi-vw-padding-small/2) !important;
  padding-right: calc(@medi-vw-padding-small/2)!important;
  padding-top:   calc(@medi-vh-padding-small/2)!important;
  padding-bottom:  calc(@medi-vh-padding-small/2)!important;
}

#block_pdmail_0 .il-item-description {
  padding-left: @medi-vw-padding-small;
}

table {
  .ilWhiteSpaceNowrap {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .ilLeft {
    float: right;
  }

  .ilRight {
    text-align: left;
    direction: rtl;
    margin-right: 15px;
    float: left;
  }

  .ilTableFilter {



  }
}

.panel .panel-heading.ilBlockHeader,
.ilContainerBlockHeader {
  height: @medi-vh-space-small;
  min-height: 30px;
  line-height: @medi-vh-space-small;
  padding-left:  @medi-vw-padding-small;
  flex-wrap: nowrap;

}

#block_pditems_0 > div > h2,
#block_pdmem_0 > div > h2,
.panel-secondary > div > h4 {
  line-height:  @medi-vh-space-small;
  height: @medi-vh-space-small;
  padding-left:  @medi-vw-padding-small;
  padding-top: 0px;
}

.il-item-group > h3 {
  padding-left:  @medi-vw-padding-small;
}

#block_pditems_0 > div > .dropdown,
#block_pdmem_0 > div > .dropdown,
.panel-secondary .dropdown {
  height: @medi-vh-space-small;
  padding-right:  @medi-vw-padding-small;
  padding-top:  @medi-vh-padding-small;
}

.il-standard-form .il-standard-form-header + .il-section-input {
  margin-top: 0px;
  padding-left: @medi-vw-padding-small;
  padding-top: @medi-vh-padding-small;
}
.il-standard-form-footer,
.il-standard-form .il-standard-form-header {
  padding-left:  @medi-vw-padding-small;
  padding-right:  @medi-vw-padding-small;
  padding-top: @medi-vh-padding-small;
  padding-bottom: @medi-vh-padding-small;
}


.tblfooter.row.ilContainerListFooter {
  padding-top: 0;
  height: @medi-vh-space-small;
  line-height: @medi-vh-space-small;
  padding-left: 0;
  padding-right:  @medi-vw-padding-small;
  flex-wrap: nowrap;
}

#il_right_col {
  .panel-body {
    padding: @medi-vh-padding-small @medi-vw-padding-small;
  }
}

legend.ilTableFilter {
  text-align: left;
}



form > .ilTableHeaderTitle,
form  > .ilHeaderDesc {
  padding-top: @medi-vh-padding-small !important;
  padding-bottom: @medi-vh-padding-small !important;
  padding-left:  @medi-vw-padding-small !important;
  padding-right:  @medi-vw-padding-small !important;
}

div.ilTableHeaderTitle + .ilHeaderDesc {
  margin: 0;
}

.ilFormFooter,
.ilFormHeader {
  min-height: @medi-vh-space-small;
  //line-height: @medi-vh-space-middle;
  padding-top: @medi-vh-padding-small;
  padding-left:  @medi-vw-padding-small;
  padding-right:  @medi-vw-padding-small;
  flex-wrap: nowrap;
}
div.ilTableNav {
  padding: revert;
}
.ilTableNav {


  padding-left:  @medi-vw-padding-small !important;
  padding-right:  @medi-vw-padding-small !important;
  padding-top: @medi-vh-padding-small !important;
  padding-bottom: @medi-vh-padding-small !important;
  flex-wrap: nowrap;
  border-bottom: 3px solid #fff;
}

fieldset.ilTableFilter {
  border-bottom: 3px solid #fff;
  padding: @medi-vh-padding-small @medi-vw-padding-small !important;
  margin: 0 !important;
}

legend.ilTableFilter > a {
  margin: 0;
}

legend.ilTableFilter {
  padding-top: @medi-vh-padding-small !important;
  padding-bottom: @medi-vh-padding-small !important;
  padding-right: 0px;
}

.ilWhiteSpaceNowrap.ilRight a, .ilWhiteSpaceNowrap.ilRight .btn-group {
  padding: 0;
}

.ilTableCommandRow,
.ilTableCommandRowTop {
  height: @medi-vh-space-small;
  line-height: @medi-vh-space-small !important;
  padding-left:  15px !important;
  padding-right:  @medi-vw-padding-small !important;
  flex-wrap: nowrap;
}
table .ilWhiteSpaceNowrap {
  padding-top: 0;
  padding-bottom: 0;
}

input.btn {
  vertical-align: revert;
}

.panel .panel-body,
.ilDashboardMainContent,
.ilObjListRow {
  padding-right:  @medi-vw-padding-small;
  min-height: @medi-vh-space-middle;

  .ilFloatRight {
    padding-top:  @medi-vh-padding-small;
  }

  .il-std-item {
    padding-top:  @medi-vh-padding-small;
    padding-left:  @medi-vw-padding-small;
    padding-right:  @medi-vw-padding-small;
    padding-bottom:  @medi-vh-padding-small;
  }
  .ilContainerListItemIcon {
    padding-left:  @medi-vw-padding-small;
  }
}

.ilObjListRow {
  padding-right:  @medi-vw-padding-small;
}

.ilToolbar.navbar.navbar-default  {
  margin-top: @medi-vh-padding-small !important;
}

.bulky-label {
  float: top;
}
footer {
  padding-left: @medi-vw-padding-small;
  text-align: left;
}

.il_ContainerItemPreview {
  img {
    height: 40px;
    width: 40px;
  }
}

.caret {
  border-top: calc(@medi-vw-padding-small/4) dashed;
  border-top: 4px solid \9;
  border-right: calc(@medi-vw-padding-small/4) solid transparent;
  border-left:calc(@medi-vw-padding-small/4) solid transparent;
}

div.il_ContainerItemTitle {
  //padding-top: @medi-vh-padding-small;
}


.il-metabar-slates {
  top: @medi-vh-space-middle;
}

.alert {
  margin-top: calc(2*@medi-vh-padding-small);
  padding: @medi-vh-padding-small  @medi-vw-padding-small;
}

.form-horizontal label,
.form-horizontal .control-label {
  padding-right: 20px;
  padding-top: 0 !important;
  line-height: 2;
}
.form-horizontal div.radio label.radio-inline {
}
input[type="checkbox"], input[type="radio"],
input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus,
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  width: 20px !important;
  height: 20px !important;
}

div.ilTableFilterInput select {
  min-width: 400px;
}

.radio input[type="radio"], .radio-inline input[type="radio"] {
  vertical-align: text-top;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  padding-top: revert;
  margin-top: revert;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  position: revert;
  text-align:  revert;
  padding-left: revert;

  display:  revert;
  margin-left: -20px;
  margin-top:  revert;
  min-width: revert;
}

.ilSubForm {
  padding: @medi-vh-padding-small @medi-vw-padding-small;
}

.input-group-btn {
  padding-right: 15px;
}
div.tblfooter.ilContainerListFooter {
  padding-left: @medi-vw-padding-small;
}
.navbar-brand {
  img {
    padding-top: @medi-vh-padding-small;
  }
}
#il_ui_fw_63188c3b418328_26461787 > li:nth-child(2) {
  display: none !important;
}
.il-maincontrols-metabar {
  align-items: unset;
  vertical-align: top;

    li {
      padding-right:  @medi-vw-padding-small;
      vertical-align: top;

    }

  .icon {
    height: calc(@medi-vh-space-middle - @medi-vh-padding-small - @medi-vh-padding-small);
    width:  calc(@medi-vh-space-middle - @medi-vh-padding-small - @medi-vh-padding-small) !important;
    line-height: 1 !important;
  }

  .il-link .link-bulky {
    line-height: 1 !important;
    padding: 0;
   // margin-top: @medi-vh-padding-small;
  }



  img {
    padding: 0 !important;

  }
  .glyphicon {
    height: unset;
    top: unset;
  }

  .btn {
    padding: 0 !important;
    min-width: unset  !important;
  }
  li > .il-link.link-bulky {
    //margin-top: @medi-vh-padding-small;
    line-height:  calc(@medi-vh-space-middle - @medi-vh-padding-small - @medi-vh-padding-small) !important;
  }

  .badge {
    position: relative;
  }

  .il-counter-status,
  .il-counter-novelty {
    top: 0;
    padding: 5px;
    font-size: 16px;
  }
  .btn-bulky {
    padding-top: @medi-vh-padding-small;
    line-height: 1 !important;
  }
  li > .btn-bulky .glyphicon, .il-maincontrols-metabar > li > .link-bulky .glyphicon {
  //  margin-top: @medi-vh-padding-small;
    height: calc(@medi-vh-space-middle - @medi-vh-padding-small - @medi-vh-padding-small);
    padding: 0;
  }

  .il-avatar {
    width: calc(@medi-vh-space-middle - @medi-vh-padding-small - @medi-vh-padding-small);
    height: calc(@medi-vh-space-middle - @medi-vh-padding-small - @medi-vh-padding-small);
  }

  .il-avatar.il-avatar-letter span.abbreviation {
    font-size: calc((5.9vh - 0.9vh - 0.9vh) / 2) !important;
    top: calc( (5.9vh - 0.9vh - 0.9vh) / 4) !important;

  }

}