/** reset ilias delos settings */

//fonts
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
.il-pagetitle,
.panel .panel-heading.ilHeader h2, .panel .panel-heading.ilBlockHeader h2, .panel .panel-heading.ilHeader h2.ilHeader, .panel .panel-heading.ilBlockHeader h2.ilHeader,
#block_pdmem_0 > div > h2,
#block_pditems_0 > div > h2,
.breadcrumb_wrapper .breadcrumb,
h2.medi-system-label, h2.ilHeader,
.ilFormHeader h3 {
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
}

//paddings & margins
h1.ilHeader,
.il-maincontrols-slate-content .jstree-default li.jstree-node,
.panel .panel-body,
.row,
div.ilContainerListItemOuter,
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12,
.container-fluid,
#ilTab,
#ilSubTab,
#ilSubTab > li > a,
.nav > li > a,
.ilToolbarContainer,
.navbar-brand,
.header-inner,
.nav-tabs > li,
.il-panel-listing-std-container > .dropdown,
.il-item,
div.ilProfile,
div.il_HeaderInner.media,
.row,
.ilToolbar .ilToolbarStickyItems,
.ilContainerBlockHeader,
div.ilAdminRow,
.navbar,
div.ilHeadAction,
.panel,
.breadcrumb_wrapper .breadcrumb,
p {
  padding: 0;
  margin: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}