/** fonts */
@medi-font-black: #333;

html,
body {
  color: @medi-font-black;
  font-size: 22px;
  font-family: Univers47, Arial, sans-serif
}

@media only screen and (min-width: 2000px) {
  html,
  body {
    //font-size: 18px;
  }
}

.panel .panel-heading.ilHeader h2, .panel .panel-heading.ilBlockHeader h2, .panel .panel-heading.ilHeader h2.ilHeader, .panel .panel-heading.ilBlockHeader h2.ilHeader,
#ilSubTab > li > a,
div.ilHeaderDesc,
div.ilHeaderAlert,
.il-item .il-item-property-name,
.il-item-property-value,
.panel-secondary,
.il-item,
.il-item-description,
.form-control,
div.ilTableNav,
.small,
table,
.xsmall,
table.calmini th.calmini,
table.calmini th.calminiweek,
td.calministd,
.il-item-group > h3,
.il-panel-listing-std-container > h2,
.panel .panel-heading.ilHeader h4,
.panel .panel-heading.ilBlockHeader h4,
.panel .panel-heading.ilHeader h4.ilBlockHeader,
.panel .panel-heading.ilBlockHeader h4.ilBlockHeader,
h5,
h6,
p,
button.copg-add.dropdown-toggle.btn .glyphicon-plus-sign,
button.copg-add.dropdown-toggle.btn:focus .glyphicon-plus-sign,
button.copg-add.dropdown-toggle.btn:hover .glyphicon-plus-sign,
#copg-editor-help .glyphicon-plus-sign,
button.copg-add.dropdown-toggle.btn .il-copg-add-text,
button.copg-add.dropdown-toggle.btn:focus .il-copg-add-text,
button.copg-add.dropdown-toggle.btn:hover .il-copg-add-text,
#copg-editor-help .il-copg-add-text,
.il-item .il-item-description,
.il-item .il-item-property-name,
.il-item-property-value,
.panel-secondary .il-item .il-item-description,
div.il_Description, td.il_Description,
div.il_ItemProperties,
.il-maincontrols-footer,
ul.dropdown-menu > li > .btn,
div.ilHeaderAlert,
div.alert ul,
.il-item .il-item-title,
.jstree-default .jstree-node,
table,
.il-pagetitle,
.breadcrumb_wrapper .breadcrumb,
.panel .panel-heading.ilHeader h4, .panel .panel-heading.ilBlockHeader h4, .panel .panel-heading.ilHeader h4.ilBlockHeader, .panel .panel-heading.ilBlockHeader h4.ilBlockHeader,
.il-maincontrols-slate-content .il-maincontrols-slate .disengaged .bulky-label,
.il-maincontrols-slate-content .il-maincontrols-slate-content .bulky-label,
.btn,
.il_InfoScreenPropertyValue,
.il_InfoScreenProperty,
.form-horizontal .help-block,
span.reg-links,
.form-horizontal .help-block,
.form-control,
.btn-default,
.form-horizontal label,
.form-horizontal .control-label,
.il-item .il-item-title .btn-link, .il-item .il-item-title a,
.il-item .il-item-title,
.il-maincontrols-slate-content > .bulky-label,
.il-maincontrols-slate .btn-bulky .bulky-label,
.il-maincontrols-slate .link-bulky .bulky-label,
.il-maincontrols-mainbar .btn-bulky,
.il-maincontrols-metabar .btn-bulky,
.il-maincontrols-mainbar .il-link.link-bulky,
.il-maincontrols-metabar .il-link.link-bulky,
h3.il_ContainerItemTitle,
.btn,
.nav-tabs > li > a,
h2.ilHeader,
#ilSubTab > li.active > a, #ilSubTab > li.active > a:hover, #ilSubTab > li.active > a:focus {
  font-style: normal;
  color: @medi-font-black;
  font-size: 1rem;
  line-height: 1.6;
  text-decoration: none;
}

/*
h2.ilHeader  {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
*/

h1,
h2.medi-system-label,
a#il_mhead_t_focus {
  font-style: normal;
  color: @medi-font-black;
  font-size: 2.56rem;
  line-height: 1.6;
  text-transform: uppercase;
}